<h3>hellooo</h3>
<p>
  Start editing to see some magic happen :)
</p>

<!-- Write your comments here 

<div *ngFor="let item of subjDictByCode | keyvalue">
    Key: <b>{{item.key}}</b> 
    <br>
    Value: 
    <li *ngFor="let comissions of item.value; let i = index">
        <b>{{comissions.name}}</b>
    </li>
</div> 



-->

<div *ngFor="let item of subjDictByName | keyvalue">
    Key: <b>{{item.key}}</b> 
    <br>
    Value: 
    <li *ngFor="let elem of item.value.comissions; let i = index">
        <b>{{elem.name}}</b>
    </li>
</div> 